<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{goalPage.title}">Goal Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="./../js/language.js"></script>
</head>
<body>
    <div>
        <label for="languageSelector"></label>
        <select id="languageSelector">
            <option th:text="#{language.choose}">Choose language</option>
            <option value="LT" th:text="'Lietuvių'"></option>
            <option value="EN" th:text="'English'"></option>
        </select>
    </div>
    <div th:object="${goalDto}" class="container-fluid">
        <h1 th:text="${goalDto.Name}">Goal Name</h1>
        <ul class="list-group">
            <li class="list-group-item">
                <h2 th:text="#{goalPage.doByDate}"></h2><time th:text="${goalDto.DoByDate}">Do By Date</time></li>
            <li class="list-group-item">
                <h2 th:text="#{goalPage.comment}"></h2><p th:text="${goalDto.Comment}">Comment</p></li>
            <li class="list-group-item">
                <h2 th:text="#{goalPage.dateOfCreation}"></h2><time th:text="${goalDto.DateOfCreation}">Date of Creation</time></li>
        </ul>
            <a th:href="@{/goals/{goalId}/update(goalId=${goalDto.goalId})}"
               th:text="#{goalPage.update}"
               class="btn btn-primary">Update</a>
            <a th:href="@{/goals/{goalId}/delete(goalId=${goalDto.goalId})}"
               th:text="#{goalPage.delete}"
               class="btn btn-danger">Delete</a>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-md-5">
                    <a th:with="directionVariable=${allTasks.sort.getOrderFor('taskName')?.direction}"
                       th:href="@{/goals/{goalId}/page(goalId=${goalId}, sort='taskName,' + ${directionVariable?.name eq 'ASC' ? 'DESC' : 'ASC'} + ',ignorecase')}">
                        <i th:class="'fa ' + ${directionVariable?.name eq 'ASC' ? 'fa-arrow-up' : 'fa-arrow-down'}"
                           aria-hidden="true"
                           th:if="${allTasks.sort.getOrderFor('taskName') ne null}"></i>
                        <span th:text="#{goalsList.name}">Name</span>
                    </a>
                </th>
                <th class="col-md-2">
                    <a th:with="directionVariable=${allTasks.sort.getOrderFor('taskFinishDate')?.direction}"
                       th:href="@{/goals/{goalId}/page(goalId=${goalId}, sort='taskFinishDate,' + ${directionVariable?.name eq 'ASC' ? 'DESC' : 'ASC'})}">
                        <i th:class="'fa ' + ${directionVariable.name eq 'ASC' ? 'fa-arrow-up' : 'fa-arrow-down'}"
                           aria-hidden="true"
                           th:if="${allTasks.sort.getOrderFor('taskFinishDate') ne null}"></i>
                        <span th:text="#{goalsList.doByDate}">Do by date</span>
                    </a>
                </th>
                <th th:text="#{goalsList.comment}" class="col-md-5">Comment</th>
                <th class="col-md-2">
                    <a th:with="directionVariable=${allTasks.sort.getOrderFor('taskCreationDate')?.direction}"
                       th:href="@{/goals/{goalId}/page(goalId=${goalId}, sort='taskCreationDate,' + ${directionVariable?.name eq 'ASC' ? 'DESC' : 'ASC'})}">
                        <i th:class="'fa ' + ${directionVariable.name eq 'ASC' ? 'fa-arrow-up' : 'fa-arrow-down'}"
                           aria-hidden="true"
                           th:if="${allTasks.sort.getOrderFor('taskCreationDate') ne null}"></i>
                        <span th:text="#{goalsList.dateOfCreation}">Date Of Creation</span>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task: ${allTasks}">
                <td th:text="${task.taskName}"></td>
                <td th:text="${task.taskFinishDate}"></td>
                <td th:text="${task.taskComment}"></td>
                <td th:text="${task.taskFinishDate}"></td>
            </tr>
            </tbody>
        </table>
        <nav class="d-flex justify-content-center" aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item" th:classappend="${!allTasks.hasPrevious()} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/goals/{goalId}/page(goalId=${goalId}, page=${allTasks.number - 1})}"
                       th:text="#{goalsList.previous}">Previous</a>
                </li>
                <li class="page-item" th:each="pageNumber: ${#numbers.sequence(0, allTasks.totalPages - 1)}"
                    th:classappend="${pageNumber == allTasks.number ? 'active' : ''}">
                    <a class="page-link" th:href="@{/goals/{goalId}/page(goalId=${goalId}, page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
                </li>
                <li class="page-item" th:classappend="${!allTasks.hasNext()} ? 'disabled' : ''">
                    <a class="page-link" th:href="@{/goals/{goalId}/page(goalId=${goalId}, page=${allTasks.number + 1})}"
                       th:text="#{goalsList.next}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>